/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* header style */
header{
    background-color: #2D25A0;
    width: 100%;
    transition: background-color 1s;
}
.top-area{
    display: flex;
    padding: 80px 140px;
}
.half-width{
    width: 50%;
}
.half-width h1{
    width: 485px;
    font-size: 64px;
    color: white;
    font-weight: bold;
}
.half-width a{
    text-decoration: none;
    width: 168px;
    font-size: 16px;
    font-weight:500;
    height: 44px;
    background: #E02C6D;
    color: white;
    padding: 10px 15px;
}
.half-width a:hover{
    background-color: #ff005d;
}
.half-width img{
    width: 100%;
    opacity: .3;
    transition: opacity 1s;
}
header:hover .half-width img{
    opacity: 1;
}
header:hover {
    background-color: #181455;
}
/* main area style */

.content-area{
    display: flex;
    justify-content: center;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 27px 30px;
    margin: 70px 0;
}
.player{
    width: 330px;
    box-shadow: 2px 2px 5px grey;
}
.player-detail{
    padding: 15px;
}
.player-detail img{
    width: 100%;
    height: 85%;
}
.player-detail h2{
    font-size: 28px;
    font-weight: bold;
}
/* fratures area */
#fratures{
    flex-direction: column;
    align-items: center;
}
.feature-items{
    width: 1050px;
}
.features{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}
.feature{
    box-shadow: 2px 2px 5px grey;
    padding: 15px;
}
.cover-image img{
    width: 480px;
}
.feature-details{
    width: 480x;
}
/* Featured sports style */
.sports{
    width: 1050px;
    margin-top: 80px;
}
.sports-area{
    border: 1px solid grey;
}
.sport-features{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    padding: 50px 0;
}
.sport-feature{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sport-feature img{
    width: 60px;
    height: 60px;
}
.sport-feature a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    color: rgb(48, 48, 167);
}
/* footer area style */
.footer-area{
    display: flex;
    justify-content: center;
}
.bottom-area{
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.logo img{
    width: 100%;
}
.media-icon{
    width: 150px;
    display: flex;
    justify-content: space-between;
}
.grey{
    color: grey;
    font-size: 30px;
}
/* Media Query breakpoint */
/* For mobile device */
@media only screen and (max-width: 688px) {
    header, .footer-area{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .top-area{
        width: 80%;
        flex-direction: column;
        justify-content: center;
        padding: 0;

    }
    .half-width, .sports{
        width: 100%;
        margin-bottom: 80px;
    }
    .half-width h1{
        width: 278px;
        height: 168px;
        font-size: 36px;
    }
    .players, .features, .sport-features{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .player, .sports-area{
        width: 90%;
        margin: auto;
    }
    .feature{
        width: 84%;
        margin: auto;
        padding: 3%;
    }
    .feature-items {
        width: 100%;
    }
    .cover-image img{
        width: 100%;
    }
    .feature-details{
        width: 100%;
    }
    .feature-items h1, .sports h1{
        margin-left: 30px;
    }
}

